<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to "PDMS", root_path, class: "navbar-brand" %>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><%= link_to "Project", projects_path %></li>
        <li><%= link_to "Task", "#a" %></li>
        <li><%= link_to "DocumentTemplete", document_templates_path %></li>
      </ul>

      <div class="navbar-form navbar-left" role="search">
        <div class="form-group">
          <%= form_tag "#a", :method => 'get' do %>
              <%= text_field_tag :search, params[:search], placeholder: "Search",:id =>"search-form" %>
              </div>
              <button type="submit" class="btn btn-default">Submit</button>
          <% end %>
          </div>

      <ul class="nav navbar-nav navbar-right">
        <% if user_signed_in? %>
            Welcome <%= current_user.firstName %>!
            <li><%= link_to 'Edit account', edit_user_registration_path %></li>
            <li><%= link_to "Sign-out", users_sign_out_path, :method => :delete %></li>
        <% else %>
            <li><%= link_to "Log in", new_user_session_path %></li>
        <% end %>
        <% if user_signed_in? %>
            <% if current_user.admin? %>
                <li><%= link_to 'Admin', admin_path %></li>
            <% end %>
        <% end %>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>