<p id="notice"><%= notice %></p>

<ul class="nav nav-tabs">
  <li role="presentation"><%= link_to "Basic Info", project_path %></li>
  <li role="presentation"><%= link_to "Status", "#a" %></li>
  <li role="presentation" class="active"><%= link_to "Members", member_path %></li>
  <li role="presentation"><%= link_to "Documents", "#a" %></li>
  <li role="presentation"><%= link_to "Assign Task", "#a" %></li>
  <li role="presentation"><%= link_to "Tasks", "#a" %></li>
</ul>

<div class="panel-body">
  <div class="row">
    <div class="col-sm-3 thumbnail">
      <p>
        <strong>Project Manager</strong>
      </p>
      <p>
        <%= @project.pm %>
      </p>
    </div>
    <div class="col-sm-1"></div>
    <div class="col-sm-8 thumbnail" style="padding-left: ">
      <strong>Team <%= @project_members.count > 1 ? 'member'.pluralize : 'member' %></strong>

      <ul class="list-group">
        <% @project_members.each do |member| %>
          <li class="list-group-item">
            <%= "#{member.firstName} #{member.lastName}" %>
            <span style="float: right; vertical-align: middle;">
            <%= link_to "Remove", { action: 'remove_member', userid: member.id }, class: 'btn btn-danger btn-xs' %>
            </span>
          </li>
        <% end %>
      </ul>

      <%= form_tag :controller => "projects", :action => "member"  do %>
        <div class="form-group">
          <%= label :user_id, "Select team member to add:" %>
          <% arr = @availableTeamMembers.map {|user| [user.firstName, user.id]} %>
          <%= select_tag :user_id, options_for_select(arr) %>

          <%= submit_tag "Add", class: "btn btn-primary btn-xs", style: "margin-left: 10px;" %>
        </div>
          
      <% end %>
      
    </div>
  </div>
  <%= link_to 'Back', projects_path %>
</div>

