<ul class="nav nav-tabs">
  <li role="presentation" class="active"><%= link_to "Basic Info", project_path %></li>
  <li role="presentation"><%= link_to "Status", action: 'status', id: @project.id %></li>
  <li role="presentation"><%= link_to "Members", member_path(:project_id => @project.id) %></li>
  <li role="presentation"><%= link_to "Documents", controller: 'documents', action: 'index' %></li>
  <% if current_user.project_manager? %>
    <li role="presentation"><%= link_to "Assign Task", assigntaskindex_path(project_id: @project.id) %></li>
    <li role="presentation"><%= link_to "Tasks", tasklist_path(project_id: @project.id) %></li>
  <% end %>
</ul>

<div class="panel-body">
<p>
  <strong>Project Name:</strong>
  <%= @project.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @project.description %>
</p>

<p>
  <strong>Start Date:</strong>
  <%= @project.startDate %>
</p>

<p>
  <strong>Due Date:</strong>
  <%= @project.dueDate %>
</p>

<p>
  <strong>Project Manager:</strong>
  <%= @project.pm %>
</p>

<% if current_user.role_id == 2 %>
  <%= link_to 'Edit', edit_project_path(@project) %> |
  <%= link_to 'Back', projects_path %>
<% end %>

</div>


