<ul class="nav nav-tabs">
  <li role="presentation"><%= link_to "Basic Info", project_path %></li>
  <li role="presentation" class="active"><%= link_to "Status", action: 'status', id: @project.id %></li>
  <li role="presentation"><%= link_to "Members", member_path(:project_id => @project.id) %></li>
  <li role="presentation"><%= link_to "Documents", "/documents" %></li>
  <% if current_user.project_manager? %>
    <li role="presentation"><%= link_to "Assign Task", assigntaskindex_path(project_id: @project.id) %></li>
    <li role="presentation"><%= link_to "Tasks", tasklist_path(project_id: @project.id) %></li>
  <% end %>
</ul>

<style type="text/css">
  li.list-group-item a{
    color: #111111;
  }
  li.list-group-item a:hover{
    color: #BBBBBB;
  }

  li.list-group-item:hover{
    background-color: #F9F9FA;
  }

  .status-badge{
    min-width: 20px;
  }
</style>

<script type="text/javascript">
  $(document).ready(function() {
    $('[data-toggle="tooltip"]').tooltip();

    $('a.process-btn').click(function(event) {
      $this = $(this);
      $this.blur();
      $visibleContentOfCurrentRow = $this.closest('li').find('div.content:visible');
      if($visibleContentOfCurrentRow.size() > 0)
      {
        $visibleContentOfCurrentRow.fadeOut('200');
        return;
      }

      $('a.process-btn').not(this).each(function(index, el) {
        var $link = $(el);
        $link.closest('li').find('div.content').fadeOut(200, function(){
          $this.closest('li').find('div.content').delay(200).fadeIn(200);
        });
      });
    });
  });
</script>

<div class="panel-body">
  <div class="row">
    <div class="col-md-12">
      <ul class="list-group">
      <% @processes.each_with_index do |process, index| %>
        <li class="list-group-item" style="min-height: 50px; padding-left: 10px;">
          <a href="#" class="process-btn" id="content_<%= process.id %>">
            <div class="row">
              <div class="col-md-6">
                
                  <div style="width: 50%; float: left;">
                    <%= "#{index+1}. #{process.name}" %>
                  </div>
              </div>

              <div class="col-md-6">
                <% _workflowsInProcess = process.pmbok_workflows.select { |w| not w.doctype.nil? } %>
                <% _totalTemplateCount = _workflowsInProcess.count.to_f %>

                <% _templateIdInProcess = _workflowsInProcess.collect { |w| w.document_template_id } %>
                
                <% _tasksRelevantToProcess = [] %>
                <% _templateIdInProcess.each { |id| if not @tasksByDocumentTemplate[id].nil? then @tasksByDocumentTemplate[id].each { |t| _tasksRelevantToProcess << t } end } %>

                <% _tasksByTaskStatus = _tasksRelevantToProcess.group_by { |t| t.task_status_id } %>

                <% _approvedStatus = TaskStatus.where("name LIKE '%Approved%'").first %>
                <% _approvedTasksPercentage = (if _tasksByTaskStatus[_approvedStatus.id].nil? then 0 else _tasksByTaskStatus[_approvedStatus.id].count end) * 100 / _totalTemplateCount %>

                <% _submittedStatus = TaskStatus.where("name LIKE '%Submitted%'").first %>
                <%  _submttedTasksPercentage = (if _tasksByTaskStatus[_submittedStatus.id].nil? then 0 else _tasksByTaskStatus[_submittedStatus.id].count end) * 100 / _totalTemplateCount %>

                <% _inProgressStatus = TaskStatus.where("name LIKE '%In progress%'").first %>
                <% _inProgressTasksPercentage = (if _tasksByTaskStatus[_inProgressStatus.id].nil? then 0 else _tasksByTaskStatus[_inProgressStatus.id].count end) * 100 / _totalTemplateCount %>

                <% _reviseStatus = TaskStatus.where("name LIKE '%Revise%'").first %>
                <% _reviseTasksPercentage = (if _tasksByTaskStatus[_reviseStatus.id].nil? then 0 else _tasksByTaskStatus[_reviseStatus.id].count end) * 100 / _totalTemplateCount %>

                <div class="progress">
                  <div class="progress-bar progress-bar-success" style="width: <%= _approvedTasksPercentage.round %>%" data-toggle="tooltip" data-placement="top" title="Approved">
                  </div>
                  <div class="progress-bar progress-bar-info" style="width: <%= _submttedTasksPercentage.round %>%" data-toggle="tooltip" data-placement="top" title="Submitted for approval">
                  </div>
                  <div class="progress-bar progress-bar-warning" style="width: <%= _inProgressTasksPercentage.round %>%" data-toggle="tooltip" data-placement="top" title="In progress">
                  </div>
                  <div class="progress-bar progress-bar-danger" style="width: <%= _reviseTasksPercentage.round %>%" data-toggle="tooltip" data-placement="top" title="Revise">
                  </div>
                </div>
              </div>
            </div>
          </a>

          <div class="row">
            <div class="col-md-6">
              <div class="content" id="content_<%= index %>" style="display: none;">
                <div class="panel panel-default">
                  <div class="panel-body">
                    <table class="table table-striped table-condensed">
                      <thead>
                        <th>Input</th>
                        <th>Output</th>
                      </thead>
                      <tbody>
                      <% _workflowMap = process.pmbok_workflows.group_by { |w| w.doctype } %>
                      <% _inputWorkflows = if not _workflowMap['I'].nil? then _workflowMap['I'] else [nil] end %>
                      <% _outputWorkflows = _workflowMap['O'] %>
                      <% _inputWorkflows.fill nil, _inputWorkflows.count..._outputWorkflows.count %>
                      <% _rows = _inputWorkflows.zip _outputWorkflows %>
                      <% _rows.each do |row| %>
                        <tr>
                          <td>
                            <% if not row[0].nil? %>
                              <% if not @tasksByDocumentTemplate[row[0].document_template.id].nil? %>
                                <% _task = @tasksByDocumentTemplate[row[0].document_template.id].first %>
                                <p class="<%= getClassNameByTaskStatus(_task.task_status) %> status-badge"><%= _task.task_status.name[0].upcase %></p> 
                              <% end %>
                              <%= row[0].document_template.name %>
                            <% end %>
                          </td>
                          <td>
                            <% if not row[1].nil? %>
                              <% if not @tasksByDocumentTemplate[row[1].document_template.id].nil? %>
                                <% _task = @tasksByDocumentTemplate[row[1].document_template.id].first %>
                                <p class="<%= getClassNameByTaskStatus(_task.task_status) %> status-badge"><%= _task.task_status.name[0].upcase %></p> 
                              <% end %>
                              <%= row[1].document_template.name %>
                            <% end %>
                          </td>
                        </tr>
                      <% end %>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6"></div>
          </div>
        </li>
      <% end %>
      </ul>
    </div>
  </div>
</div>


