<p id="notice"><%= notice %></p>

<ul class="nav nav-tabs">
  <li role="presentation"><%= link_to "Basic Info", project_path %></li>
  <li role="presentation"><%= link_to "Status", action: 'status', id: @project.id %></li>
  <li role="presentation"><%= link_to "Members", member_path(:project_id => @project.id) %></li>
  <li role="presentation"><%= link_to "Documents", "#a" %></li>
  <% if current_user.project_manager? %>
    <li role="presentation"><%= link_to "Assign Task", assigntaskindex_path(project_id: @project.id) %></li>
    <li role="presentation" class="active"><%= link_to "Tasks", tasklist_path(project_id: @project.id) %></li>
  <% end %>
</ul>

<div class="panel-body">
  <div class="col-md-12">
    <table class="table">
      <caption>Task list of project "<%= @project.name %>"</caption>
      <thead>
        <tr>
          <th>Task ID</th>
          <th>Assigned On</th>
          <th>Document</th>
          <th>Approver</th>
          <th>Assignee</th>
          <th>Status</th>
          <th>Commands</th>
        </tr>
      </thead>
      <tbody>
      <% @tasks.each do |task| %>
        <tr>
          <td><%= task.id %></td>
          <td><%= task.assignedOn %></td>
          <td><%= task.document_template.name %></td>
          <td><%= "#{task.approver.firstName} #{task.approver.lastName}" %></td>
          <td><%= "#{task.assignee.firstName} #{task.assignee.lastName}" %></td>
          <td><p class="<%= getClassNameByTaskStatus task.task_status %>"><%= task.task_status.name %></p></td>
          <td>
            <%= link_to action: 'edittask', id: @project.id, taskid: task.id do %>
            <p class="btn btn-default btn-sm">Edit</p>
            <% end %>
            <% if task.task_status.name.downcase.ends_with? 'approval' %>
              <a href="#" class="btn btn-default btn-warning btn-sm">Respond</a>
            <% end %>
          </td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>
