<%= form_for(@document_template) do |f| %>
  <% if @document_template.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@document_template.errors.count, "error") %> prohibited this document_template from being saved:</h2>

      <ul>
      <% @document_template.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :name, 'Document Title:' %><br>
    <%= f.text_field :name %>
  </div>
  <div class="form-group">
    <%= f.label :template, 'Please select a template document to upload:' %><br>
    <%= f.file_field :template %>
  </div>
  <div class="form-group">
    <%= f.label :uploadedBy, 'Uploaded By:' %><br>
    <%= current_user.firstName + " " + current_user.lastName %>
  </div>
  <div class="actions">
    <%= f.submit "Confirm", :class => "btn btn-primary"%>
  </div>
<% end %>

