<h2>Previous Versions</h2>

<table class='table'>
  <thead>
  <tr>
    <th>Index</th>
    <th>Date</th>
    <th>Author</th>
    <th>Event</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  </thead>

  <tbody>
  <%- document_template.versions.reverse.each do |version| %>
      <tr>
        <td><%= version.index %></td>
        <td><%= version.created_at %></td>
        <td><%= find_version_author_name(version) %></td>
        <td><%= version.event.humanize %></td>
        <td><%= link_to 'Diff', " " %></td>
        <td><%= link_to 'Rollback', rollback_document_template_version_path(document_template, version), method: 'PATCH' %></td>
      </tr>
  <% end %>
  </tbody>
</table>