<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @document_template.name %>
</p>

<p>
  <strong>Template:</strong>
  <%= @document_template.template %>
</p>

<%= link_to 'Edit', edit_document_template_path(@document_template) %> |
<%= link_to 'Back', document_templates_path %>
