<%= form_for @document, url: @formOptions do |f| %>
  <% if @document.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@document.errors.count, "error") %> prohibited this document from being saved:</h2>

      <ul>
      <% @document.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
    <%= hidden_field_tag :proj_id, @project.id %>
    <%= hidden_field_tag :doctmpl_id, @doctmpl.id %>
    <%= hidden_field_tag :user_id, current_user.id %>
  <div class="field">
    <%= f.label :docFile, "Please upload file:" %><br>
    <%= f.file_field :docFile %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
