<p id="notice"><%= notice %></p>

<p>
  <strong>Project:</strong>
  <%= @document.project %>
</p>

<p>
  <strong>Document template:</strong>
  <%= @document.document_template %>
</p>

<p>
  <strong>Docfile:</strong>
  <%= @document.docFile %>
</p>

<%= link_to 'Edit', edit_document_path(@document) %> |
<%= link_to 'Back', documents_path %>
