<p id="notice"><%= notice %></p>

<p>
  <strong>Project:</strong>
  <%= @document.project.name %>
</p>

<p>
  <strong>Document template:</strong>
  <%= @document.document_template.name %>
</p>

<p>
  <strong>Author:</strong>
  <%= @document.user_id.firstName %>
</p>
  <strong>File:</strong>
  <%= @document.docFile_file_name %>
<p>


</p>

<%= link_to 'Edit', edit_document_path(@document) %> |
<%= link_to 'Back', documents_path %>
