<h1>Tasks assigned to <%= "#{@user.firstName} #{@user.lastName}" %></h1>

<% @projects.each do |project| %>
  <table class="table">
  <caption><%= project.name %></caption>
  <thead>
    <tr>
      <th>AssignedOn</th>
      <th>Project</th>
      <th>Document</th>
      <th>Approver</th>
      <th>Assignee</th>
      <th>Status</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% tasks = Task.where project_id: project.id, assignee_id: @user.id %>
    <% tasks.each do |task| %>
      <tr>
        <td><%= task.assignedOn %></td>
        <td><%= task.project.name %></td>
        <td><%= task.document_template.name %></td>
        <td><%= task.approver.firstName %>
            <%= task.approver.lastName %></td>
        <td><%= task.assignee.firstName %>
            <%= task.assignee.lastName %></td>
        <td><%= task.status %></td>
        <td><%= link_to 'Show', task %></td>
        <td><%= link_to 'Edit', edit_task_path(task) %></td>
        <td><%= link_to 'Destroy', task, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <td><%= link_to 'Send for approval', "#" %></td>
        <td><%= link_to 'Download Template', DocumentTemplate.find(task.document_template).template.url(:original, false) %></td>
        <td><%= link_to 'Upload file', controller: :documents, action: :new, proj_id: task.project.id, doctmpl_id: task.document_template.id %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<% end %>


<br>

<%= link_to 'New Task', new_task_path, :class => "btn btn-default" %>