<p id="notice"><%= notice %></p>

<p>
  <strong>Assignedon:</strong>
  <%= @task.assignedOn %>
</p>

<p>
  <strong>Project:</strong>
  <%= @task.project %>
</p>

<p>
  <strong>Document:</strong>
  <%= @task.document %>
</p>

<p>
  <strong>Approver:</strong>
  <%= @task.approver_id %>
</p>

<p>
  <strong>Assignnee:</strong>
  <%= @task.assignee_id %>
</p>

<p>
  <strong>Status:</strong>
  <%= @task.status %>
</p>

<%= link_to 'Edit', edit_task_path(@task) %> |
<%= link_to 'Back', tasks_path %>
