<p>
  <strong>Assignedon:</strong>
  <%= @task.assignedOn %>
</p>

<p>
  <strong>Project:</strong>
  <%= @task.project.name %>
</p>

<p>
  <strong>Document:</strong>
  <%= @task.document_template.name %>
</p>

<p>
  <strong>Approver:</strong>
  <%= @task.approver.firstName %>
  <%= @task.approver.lastName %>
</p>

<p>
  <strong>Assignnee:</strong>
  <%= @task.assignee.firstName %>
  <%= @task.assignee.lastName %>
</p>

<p>
  <strong>Status:</strong>
  <%= @task.status %>
</p>

<%= link_to 'Edit', edit_task_path(@task) %> |
<%= link_to 'Back', tasks_path %>
